<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bmx.kucun.mapper.CloudStoreMapper">

	<resultMap id="cloudStoreMap" type="com.bmx.kucun.entity.CloudStore">
		<id property="id" column="id"/>
		<result property="mallOrderId" column="mall_order_id"/>
		<result property="cloudStoreId" column="cloud_store_id"/>
		<result property="createTime" column="create_time"/>
		<result property="tenantId" column="tenant_id"/>
	</resultMap>




</mapper>
